.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
  }
  
  .navbar h1 {
    color: white;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  